.header-and-footer {
  width: 100%;
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2000;
    .header-box {
      width: 100%;
      height: 90px;
      line-height: 90px;
      overflow: hidden;
      .box-l {
        float: left;
        margin-right: 230px;
        img {
          width: 166px;
        }
      }
      .soso-box {
        float: left;
        width: 500px;
        line-height: normal;
        .soso-top {
          display: flex;
          height: 36px;
          .soso-inp {
            display: flex;
            width: 410px;
            height: 36px;
            box-sizing: border-box;
            border: 2px solid $color;
            line-height: 32px;
            padding: 0 10px;
            .iconfont {
              color: #999;
              margin-right: 10px;
            }
            input {
              flex: 1;
            }
          }
        }
      }
      .box-r {
        float: right;
        .iconfont {
          font-size: 20px;
          cursor: pointer;
          margin-right: 40px;
          vertical-align: middle;
          color: #333;
          &.bj {
            font-size: 23px;
          }
          &.xx {
            font-size: 25px;
            display: inline-block;
          }
          &.tx {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 5px;
              height: 5px;
              background-color: #e50505;
              top: 35px;
              right: 5px;
              border-radius: 50%;
            }
          }
        }
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        span {
          vertical-align: middle;
          &.dl {
            font-size: 14px;
            color: #333;
            cursor: pointer;
          }
          &.fgx {
            font-size: 12px;
            margin-right: 20px;
            margin-left: 20px;
          }
          &.zc {
            font-size: 14px;
            color: #333;
            cursor: pointer;
          }
        }
      }
    }
    .box-nav {
      float: left;
      ul {
        overflow: hidden;
        li {
          float: left;
          margin-right: 40px;
          color: #333333;
          font-size: 14px;
          line-height: 50px;
          cursor: pointer;
          span {
            &.sty {
              color: $color;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .header-zw {
    height: 90px;
  }
  .footer {
    background-color: #303338;
    .tooter-box {
      width: 1004px;
      margin: 0 auto;
      .box-top {
        width: 100%;
        height: 90px;
        border-bottom: 1px solid #26292e;
        line-height: 90px;
        ul {
          width: 100%;
          text-align: center;
          li {
            display: inline-block;
            margin-right: 62px;
            font-size: 14px;
            color: #798390;
          }
        }
      }
      .box-bot {
        height: 90px;
        line-height: 90px;
        text-align: center;
        font-size: 14px;
        color: #798390;
      }
    }
  }
}
