.homePage {
  width: 100%;
  .banner {
    width: 100%;
    position: relative;
    img {
      width: 100%;
    }
    .swiper-pagination {
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      margin-right: 10px;
    }
    .swiper-pagination-bullet-active {
      background-color: #fff;
    }
  }
  .con-box {
    background-color: #f8f8f8;
    padding: 30px 0;
    .yzfws {
      width: 100%;
      .yzfws-title {
        height: 66px;
        line-height: 66px;
        font-size: 20px;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
      }
      .lis1nav {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        li {
          padding: 3px 20px;
          font-size: 14px;
          color: #333;
          cursor: pointer;
          background-color: rgba(26, 193, 176, 0);
          transition: all 0.3s;
          &.gd {
            color: #999;
          }
          &.sty {
            background-color: rgba(26, 193, 176, 1);
            color: #fff;
            border-radius: 100px;
          }
        }
      }
      .sqbmFw-lists {
        padding: 30px 0;
        ul {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          li {
            background-color: #fff;
            margin-bottom: 30px;
            width: 302px;
            .lists-box {
              width: 100%;
              .box-top {
                width: 100%;
                height: 210px;
                overflow: hidden;
                border-radius: 10px 10px 0 0;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .box-txt {
                width: 100%;
                box-sizing: border-box;
                padding: 0 10px;
                line-height: 38px;
                font-size: 16px;
                color: #333;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .box-con {
                width: 100%;
                box-sizing: border-box;
                padding: 0 10px;
                display: flex;
                .dz {
                  margin-right: 10px;
                  width: 120px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  .iconfont {
                    color: #72aefd;
                    font-size: 18px;
                    vertical-align: middle;
                  }
                  span {
                    font-size: 12px;
                    color: #999;
                    vertical-align: middle;
                  }
                }
                .hx {
                  .iconfont {
                    color: #ffc92b;
                    font-size: 18px;
                    vertical-align: middle;
                  }
                  span {
                    font-size: 12px;
                    color: #999;
                    vertical-align: middle;
                  }
                }
              }
              .box-jg {
                width: 100%;
                box-sizing: border-box;
                padding: 25px 10px;
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  height: 1px;
                  width: 95%;
                  background-color: #f3f3f3;
                  bottom: 0;
                  left: 50%;
                  transform: translateX(-50%);
                }
                .jg-number {
                  font-size: 22px;
                  color: #ff6b6a;
                  margin-right: 5px;
                }
                .jg-yy {
                  color: #ff6b6a;
                  font-size: 14px;
                }
              }
              .box-lxdh {
                height: 56px;
                line-height: 56px;
                color: $color;
                text-align: center;
                .iconfont {
                  font-size: 20px;
                  margin-right: 5px;
                  vertical-align: middle;
                }
                span {
                  font-size: 18px;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }
    .syggw1 {
      width: 100%;
      margin-bottom: 30px;
      img {
        width: 100%;
      }
    }
    .jxsp {
      width: 100%;
      .jxsp-title {
        height: 66px;
        line-height: 66px;
        font-size: 20px;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
      }
      .lis1nav {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        li {
          padding: 3px 20px;
          font-size: 14px;
          color: #333;
          cursor: pointer;
          background-color: rgba(26, 193, 176, 0);
          transition: all 0.3s;
          &.gd {
            color: #999;
          }
          &.sty {
            background-color: rgba(26, 193, 176, 1);
            color: #fff;
            border-radius: 100px;
          }
        }
      }
    }
  }
}
