.productDetails {
  background-color: #f7f7f7;
  min-height: 708px;
  padding-bottom: 20px;
  .productDetails-box {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    .productDetails-box-l {
      float: left;
      width: 980px;
      .headers {
        background-color: #fff;
        width: 100%;
        box-sizing: border-box;
        padding: 0px 25px 25px 25px;
        border-radius: 10px;
        margin-bottom: 20px;
        .headers-top {
          height: 70px;
          line-height: 70px;
          border-bottom: 1px solid #eeeeee;
          font-size: 20px;
          color: #333;
          margin-bottom: 20px;
        }
        .headers-bottom {
          width: 100%;
          overflow: hidden;
          .bottom-l {
            width: 380px;
            float: left;
            .l-top {
              height: 284px;
              width: 100%;
              margin-bottom: 12px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .l-bot {
              height: 60px;
              width: 100%;
              .swiper-button-prev,
              .swiper-container-rtl .swiper-button-next {
                left: 0px;
              }
              .swiper-button-next,
              .swiper-container-rtl .swiper-button-prev {
                right: 0px;
              }
              .swiper-button-prev,
              .swiper-button-next {
                width: 25px;
                height: 60px;
                top: 0;
                margin-top: 0;
                background-color: rgba(0, 0, 0, 0.5);
              }
              .swiper-button-prev:after,
              .swiper-button-next:after {
                font-size: 15px;
              }
              img {
                width: 90px;
                height: 60px;
              }
            }
          }
          .bottom-r {
            margin-left: 420px;
            width: auto;
            .jg {
              height: 72px;
              line-height: 72px;
              margin-bottom: 10px;
              .number {
                color: #ff6b6a;
                font-size: 36px;
                margin-right: 5px;
              }
              .yc {
                color: #ff6b6a;
                font-size: 16px;
              }
            }
            .jbxx {
              overflow: hidden;
              margin-bottom: 20px;
              .jbxx-l {
                float: left;
                width: 74px;
                color: #999;
                font-size: 14px;
              }
              .jbxx-r {
                width: auto;
                font-size: 14px;
                margin-left: 74px;
                color: #333;
              }
            }
            .lxsjbtn {
              width: 326px;
              height: 62px;
              margin-left: 40px;
              text-align: center;
              color: #fff;
              background-color: $color;
              line-height: 62px;
              border-radius: 5px;
              .iconfont {
                font-size: 20px;
                vertical-align: middle;
                margin-right: 5px;
              }
              span {
                font-size: 20px;
                vertical-align: middle;
              }
            }
          }
        }
      }
      .fwts {
        width: 100%;
        box-sizing: border-box;
        padding: 25px;
        border-radius: 10px;
        background-color: #fff;
        margin-bottom: 20px;
        .fwts-title {
          font-size: 20px;
          color: #333;
          margin-bottom: 26px;
        }
        .fwts-bq {
          width: 100%;
          span {
            background-color: #d1f3ef;
            display: inline-block;
            padding: 3px 5px;
            border-radius: 3px;
            color: $color;
            font-size: 14px;
            margin-left: 10px;
            margin-bottom: 10px;
          }
        }
      }
      .fwms {
        width: 100%;
        box-sizing: border-box;
        padding: 25px;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 20px;
        .fwms-title {
          font-size: 20px;
          color: #333;
          margin-bottom: 26px;
        }
        .fwms-js {
          font-size: 14px;
          color: #333;
          width: 100%;
          box-sizing: border-box;
          padding-right: 50px;
          margin-bottom: 20px;
        }
        .fwms-zt {
          width: 100%;
          .zt-title {
            font-size: 14px;
            color: #333;
            margin-bottom: 5px;
          }
          ul {
            width: 100%;
            li {
              width: 100%;
              font-size: 14px;
              color: #333;
            }
          }
        }
      }
      .fwtp {
        width: 100%;
        box-sizing: border-box;
        padding: 25px;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 20px;
        .fwtp-title {
          font-size: 20px;
          color: #333;
          margin-bottom: 20px;
        }
        ul {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          li {
            width: 456px;
            height: 330px;
            margin-bottom: 20px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .productDetails-box-r {
      float: right;
      width: 300px;
      .dprk {
        width: 100%;
        box-sizing: border-box;
        padding: 25px;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 20px;
        .dprk-logo {
          width: 100%;
          text-align: center;
          margin-bottom: 20px;
          img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-bottom: 20px;
          }
          p {
            font-size: 16px;
            color: #333;
          }
        }
        .sc {
          width: 100%;
          display: flex;
          justify-content: center;
          position: relative;
          padding: 10px 0;
          margin-bottom: 20px;
          &::after {
            content: "";
            height: 50%;
            width: 2px;
            background-color: #eee;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
          }
          .sc-l {
            margin-right: 20px;
            text-align: center;
            .l-top {
              font-size: 14px;
              color: #333;
            }
            .l-bot {
              color: #999;
              font-size: 12px;
            }
          }
          .sc-r {
            margin-left: 20px;
            text-align: center;
            .r-top {
              font-size: 14px;
              color: #333;
            }
            .r-bot {
              color: #999;
              font-size: 12px;
            }
          }
        }
        .dprk-btn {
          width: 90%;
          height: 38px;
          line-height: 38px;
          text-align: center;
          font-size: 14px;
          color: #999;
          border: 1px solid #999;
          border-radius: 5px;
          margin: 0 auto;
          cursor: pointer;
        }
      }
      .ewm {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 20px;
        .ewm-title {
          width: 100%;
          margin-bottom: 20px;
          span {
            font-size: 16px;
            color: #333;
          }
          .iconfont {
            float: right;
            font-size: 24px;
            color: #999;
            margin-top: -10px;
            cursor: pointer;
          }
        }
        img {
          display: block;
          width: 220px;
          margin: 0 auto;
        }
      }
      .cnxh1 {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        .cnxh1-title {
          font-size: 16px;
          color: #333;
          margin-bottom: 20px;
        }
        ul {
          width: 100%;
          li {
            width: 100%;
            margin-bottom: 20px;
            img {
              width: 100%;
              height: 180px;
              margin-bottom: 10px;
            }
            p {
              font-size: 14;
              color: #999;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .bddt{
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    .bddt-title{
      font-size: 20px;
      color: #333;
      margin-bottom: 20px;
    }
  }
  .cnxh2 {
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    .cnxh2-title {
      font-size: 20px;
      color: #333;
      margin-bottom: 20px;
    }
    ul {
      width: 100%;
      display: flex;
      li {
        width: 230px;
        margin-right: 25px;
        &:last-child{
          margin-right: 0px;
        }
        img {
          width: 100%;
          height: 182px;
        }
        p {
          font-size: 14px;
          color: #999;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
  .tj{
      width: 100%;
      box-sizing: border-box;
      padding: 25px;
      background-color: #fff;
      border-radius: 10px;
      .rmtj{
          width: 100%;
          margin-bottom: 20px;
          .rmtj-title{
              font-size: 16px;
              color: #333;
              height: 30px;
              border-bottom: 1px solid #eee;
              margin-bottom: 15px;
          }
          ul{
              width: 100%;
              li{
                  width: 100%;
                  font-size: 12px;
                  color: #333;
                  line-height: 25px;
              }
          }
      }
      .xgtj{
        width: 100%;
        .xgtj-title{
            font-size: 16px;
            color: #333;
            height: 30px;
            border-bottom: 1px solid #eee;
            margin-bottom: 15px;
        }
        ul{
            width: 100%;
            li{
                width: 100%;
                font-size: 12px;
                color: #333;
                line-height: 25px;
            }
        }
    }
  }
}
