@font-face {
  font-family: "iconfont"; /* project id 1906736 */
  src: url("//at.alicdn.com/t/font_1906736_ef9gpiay67.eot");
  src: url("//at.alicdn.com/t/font_1906736_ef9gpiay67.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1906736_ef9gpiay67.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1906736_ef9gpiay67.woff") format("woff"),
    url("//at.alicdn.com/t/font_1906736_ef9gpiay67.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1906736_ef9gpiay67.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "webfont";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_qfwzmy3b79s.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_qfwzmy3b79s.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_qfwzmy3b79s.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_qfwzmy3b79s.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_qfwzmy3b79s.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_qfwzmy3b79s.svg#杨任东竹石体-Bold")
      format("svg"); /* iOS 4.1- */
}
.webfont {
  font-family: "webfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
