.dataAndName {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  .dataAndName-nav {
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
    padding: 0 35px;
    overflow: hidden;
    p {
      float: left;
      font-size: 16px;
      color: #999;
      margin-right: 54px;
      height: 60px;
      box-sizing: border-box;
      &.sty {
        border-bottom: 4px solid $color;
        color: $color;
      }
    }
  }
  .xgtx {
    width: 100%;
    padding: 46px 0 15px 0;
    .xgtx-box {
      width: 124px;
      height: 124px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      .xgtx-ts {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99;
        border-radius: 50%;
        line-height: 124px;
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        text-align: center;
      }
      .style_file_content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 999;
        background-color: #fff;
      }
    }
  }
  .jbxx {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 35px;
    border-bottom: 1px solid #eee;
    &:last-child {
      border-bottom: none;
    }
    .jbxx-title {
      font-size: 14px;
      color: #333;
      margin-bottom: 20px;
    }
    ul {
      width: 100%;
      li {
        width: 100%;
        .jbxx-lis-box {
          width: 100%;
          overflow: hidden;
          line-height: 40px;
          .jbxx-box-l {
            float: left;
            font-size: 14px;
            color: #999;
            width: 84px;
            margin-right: 30px;
            text-align: right;
          }
          .jbxx-box-r {
            float: left;
            font-size: 14px;
            .xx {
              color: #333;
              margin-right: 20px;
            }
            .xg {
              color: $color;
              cursor: pointer;
            }
            .qgk {
              padding: 2px 5px;
              background-color: #eee;
              color: #333;
              border-radius: 3px;
              margin-right: 10px;
            }
            .el-radio__input.is-checked .el-radio__inner {
              border-color: $color;
              background: $color;
            }
            .el-radio__input.is-checked + .el-radio__label {
              color: $color;
            }
            .el-radio__inner:hover {
              border-color: $color;
            }
          }
          .jbxx-box-rs {
            width: auto;
            margin-left: 80px;
          }
        }
      }
    }
    .jbxx-btn {
      width: 100%;
      text-align: center;
      padding: 30px 0;
      span {
        background-color: $color;
        font-size: 16px;
        color: #fff;
        display: block;
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin: auto;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  .zdytck {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2001;
    .zdytck-box {
      background-color: #fff;
      width: 420px;
      padding-bottom: 10px;
      border: 1px solid #ebeef5;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      border-radius: 4px;
      .box-title {
        padding: 15px 15px 10px;
        font-size: 18px;
        line-height: 1;
        color: #303133;
      }
      .inp-box {
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        input {
          background-color: #fff;
          background-image: none;
          border-radius: 4px;
          border: 1px solid #dcdfe6;
          box-sizing: border-box;
          color: #606266;
          display: inline-block;
          font-size: inherit;
          height: 40px;
          line-height: 40px;
          outline: 0;
          padding: 0 15px;
          transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
          width: 100%;
          margin-bottom: 10px;
        }
      }
      .zdytck-btn {
        padding: 5px 15px 0;
        text-align: right;
      }
    }
  }
  .dpxxmodel {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2001;
    .dpxxmodel-box {
      width: 900px;
      box-sizing: border-box;
      padding: 30px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      border-radius: 10px;
      .dpxxmodel-title {
        width: 100%;
        line-height: 50px;
        font-size: 18px;
        color: #333;
        margin-bottom: 16px;
      }
      .inp-box {
        width: 100%;
        .inp-lis {
          width: 100%;
          min-height: 40px;
          border: 1px solid #eee;
          box-sizing: border-box;
          padding: 0 10px;
          border-radius: 10px;
          margin-bottom: 16px;
          display: flex;
          input {
            flex: 1;
            font-size: 14px;
          }
        }
        .up-lis {
          width: 100%;
          min-height: 40px;
          display: flex;
          margin-bottom: 16px;
          span {
            font-size: 14px;
            color: #999;
            margin-right: 16px;
          }
          .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
          }
          .avatar-uploader .el-upload:hover {
            border-color: $color;
          }
          .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
          }
          .avatar {
            width: 50px;
            display: block;
          }
        }
      }
      .dpxxbc-btn {
        width: 100%;
        padding: 30px 0;
        text-align: center;
        overflow: hidden;
        .dpxxbc-btn-l {
          background-color: $color;
          font-size: 14px;
          width: 200px;
          height: 40px;
          line-height: 40px;
          border-radius: 5px;
          float: left;
          color: #fff;
          cursor: pointer;
        }
        .dpxxbc-btn-r {
          background-color: #999;
          font-size: 14px;
          width: 200px;
          height: 40px;
          line-height: 40px;
          border-radius: 5px;
          float: right;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
// 组件默认样式
.el-message-box__wrapper {
  z-index: 999999999999999999999999999;
}
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: $color;
}
.el-button--primary {
  background-color: $color;
  border-color: $color;
}
.el-button--primary:focus,
.el-button--primary:hover {
  background-color: $color;
  border-color: $color;
}
.el-button:focus,
.el-button:hover {
  color: $color;
  border-color: $color;
  background-color: #ecf5ff;
}
.el-message-box__headerbtn .el-message-box__close:hover {
  color: $color;
}
