.dataAndName {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  .dataAndName-nav {
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
    padding: 0 35px;
    overflow: hidden;
    p {
      float: left;
      font-size: 16px;
      color: #999;
      margin-right: 54px;
      height: 60px;
      box-sizing: border-box;
      &.sty {
        border-bottom: 4px solid $color;
        color: $color;
      }
    }
  }
  .xgtx {
    width: 100%;
    padding: 46px 0 15px 0;
    .xgtx-box {
      width: 124px;
      height: 124px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
      }
      .style_file_content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }
  }
  .jbxx{
      width: 100%;
      box-sizing: border-box;
      padding: 30px 35px;
      border-bottom: 1px solid #eee;
      &:last-child{
          border-bottom: none;
      }
      .jbxx-title{
          font-size: 14px;
          color: #333;
          margin-bottom: 20px;
      }
      ul{
          width: 100%;
          li{
              width: 100%;
              .jbxx-lis-box{
                  width: 100%;
                  overflow: hidden;
                  line-height: 40px;
                  .jbxx-box-l{
                      float: left;
                      font-size: 14px;
                      color: #999;
                      width: 60px;
                      margin-right: 30px;
                      text-align: right;
                  }
                  .jbxx-box-r{
                      float: left;
                      font-size: 14px;
                      .xx{
                          color: #333;
                          margin-right: 20px;
                      }
                      .xg{
                          color: $color;
                      }
                      .qgk{
                          padding: 2px 5px;
                          background-color: #eee;
                          color: #333;
                          border-radius: 3px;
                          margin-right: 10px;
                      }
                      .el-radio__input.is-checked .el-radio__inner{
                        border-color:$color;
                        background: $color;
                      }
                      .el-radio__input.is-checked+.el-radio__label{
                          color:$color
                      }
                      .el-radio__inner:hover{
                        border-color:$color
                      }
                  }
                  .jbxx-box-rs{
                      width: auto;
                      margin-left: 80px;
                  }
              }
          }
      }
  }
}
