.serviceEvaluation1 {
  width: 100%;
  background-color: #f7f7f7;
  min-height: 708px;
  box-sizing: border-box;
  padding: 20px 0;
  .serviceEvaluationDetails-box {
    width: 100%;
    height: 451px;
    // height: 302px;
    background-color: #fff;
    border-radius: 10px;
    .ul {
      width: 100%;
      height: 100%;
      .li {
        width: 100%;
        height: 100%;
        .lists-box {
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-bottom: 1px solid #f7f7f7;
          .lis-l {
            height: 100%;
            width: 320px;
            float: left;
            border-right: 2px solid #f7f7f7;
            position: relative;
            .l-box {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateY(-50%) translateX(-50%);
              .l-img {
                width: 116px;
                margin: 0 auto;
                margin-bottom: 20px;
                img {
                  width: 100%;
                }
              }
              .l-js {
                width: 218px;
                font-size: 12px;
                color: #333;
                text-align: center;
                line-height: 20px;
              }
            }
          }
          .lis-r {
            width: auto;
            margin-left: 322px;
            box-sizing: border-box;
            height: 100%;
            padding: 10px 0;
            .r-time {
              width: 100%;
              line-height: 30px;
              box-sizing: border-box;
              padding: 0 20px;
              border-bottom: 1px solid #f7f7f7;
              .text {
                font-size: 12px;
                color: #999;
              }
              .num {
                font-size: 12px;
                color: #333;
                margin-right: 30px;
              }
              .time {
                font-size: 12px;
                color: #999;
              }
            }
            .r-xx {
              width: 100%;
              box-sizing: border-box;
              padding: 10px 20px;
              overflow: hidden;
              .xx-box {
                width: auto;
                margin-left: 80px;
                vertical-align: middle;
                line-height: 20px;
                .iconfont {
                  font-size: 16px;
                  color: #999;
                  cursor: pointer;
                  margin-right: 10px;
                  &.sty {
                    color: $color;
                  }
                }
              }
            }
            .r-inp {
              width: 100%;
              box-sizing: border-box;
              padding: 10px 20px;
              overflow: hidden;
              textarea {
                width: 542px;
                height: 131px;
                float: left;
                outline: none;
                resize: none;
                box-sizing: border-box;
                padding: 10px;
                border-radius: 10px;
              }
            }
            .tjtp {
              width: 100%;
              box-sizing: border-box;
              padding-left: 100px;
              display: flex;
              flex-wrap: wrap;
              img {
                height: 60px;
                margin-right: 10px;
                margin-bottom: 10px;
              }
              .sctp {
                width: 60px;
                height: 60px;
                box-sizing: border-box;
                border: 1px dashed #999;
                text-align: center;
                line-height: 58px;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                  border: 1px dashed $color;
                }
                .iconfont {
                  font-size: 20px;
                  color: #999;
                }
              }
            }
            .text {
              float: left;
              font-size: 14px;
              color: #333;
              width: 80px;
              vertical-align: middle;
            }
          }
        }
        .tj-box {
          width: 100%;
          text-align: center;
          height: 112px;
          line-height: 112px;
          .btn {
            background-color: $color;
            color: #fff;
            font-size: 18px;
            padding: 10px 30px;
            border-radius: 10px;
            margin-right: 20px;
            cursor: pointer;
          }
          .el-checkbox__input.is-checked + .el-checkbox__label {
            color: $color;
          }
          .el-checkbox__input.is-checked .el-checkbox__inner,
          .el-checkbox__input.is-indeterminate .el-checkbox__inner {
            background-color: $color;
            border-color: $color;
          }
          .el-checkbox__inner:hover {
            border-color: $color;
          }
        }
      }
    }
  }
  .el-upload--picture-card {
    width: 60px;
    height: 60px;
    line-height: 67px;
  }
  .el-upload-list--picture-card .el-upload-list__item {
    width: 60px;
    height: 60px;
  }
  .smrzTpjq {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2000;
    background-color: rgba(255, 255, 255, 0.9);
    .iconfont {
      font-size: 30px;
      color: #333;
      position: absolute;
      top: 5%;
      right: 5%;
      cursor: pointer;
    }
  }
}
